[submodule "shell/oh-my-zsh/.oh-my-zsh/plugins/zsh-autosuggestions"]
	path = shell/oh-my-zsh/.oh-my-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shell/oh-my-zsh/.oh-my-zsh/--depth=1"]
	path = shell/oh-my-zsh/.oh-my-zsh/--depth=1
	url = https://github.com/powerline/fonts.git
[submodule "shell/oh-my-zsh/.oh-my-zsh/fonts"]
	path = shell/oh-my-zsh/.oh-my-zsh/fonts
	url = https://github.com/powerline/fonts.git
[submodule "tools/fzf"]
	path = tools/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "i3/i3blocks/i3blocks-contrib"]
	path = i3/i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
[submodule "i3blocks-contrib"]
	path = i3/i3blocks/i3blocks-contrib
	url = https://github.com/zakaria1193/i3blocks-contrib.git
[submodule "i3/i3blocks/i3blocks"]
	path = i3/i3blocks/i3blocks
	url = https://github.com/vivien/i3blocks
[submodule "tools/fzf"]
	path = tools/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "shell/oh-my-zsh/.oh-my-zsh/custom/plugins/navi"]
	path = shell/oh-my-zsh/.oh-my-zsh/custom/plugins/navi
	url = https://github.com/denisidoro/navi
